@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@300&display=swap');


body{
    font-family: 'Sansita Swashed', "cursive";
}
.paper{
    box-shadow: 10px 20px 30px 30px #888888 !important;
    border: 4px solid #493131;
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 80px !important;
    height: 80px !important;
    animation: spin 2s linear infinite !important;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  